body {
  width: 380px;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;

  font-family: "Arial", sans-serif;
}

h1 {
  line-height: normal;
  font-size: 20px;
  text-align: center;
}

.highlight {
  padding: 5px;
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;  
}

.italic {
  font-style: italic;
}